<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Tiéssé Tra Jaïrus</h1>
    <h6>Zarathoustra</h6>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="https://wa.link/45somv" class="" target="_blank"
      ><img
        src="../../assets/Social-media/whatsapp.png"
        alt="whatSapp"
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/tra-jairus-tiesse-1371292a8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
      class=""
      target="_blank"
      ><img
        src="../../assets/Social-media/LinkedIN.png"
        alt="whatSapp"
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a href="https://github.com/zarathoustra23" class="" target="_blank"
      ><img
        src="../../assets/Social-media/Github.png"
        alt="whatSapp"
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100086476666498&mibextid=ZbWKwL"
      class=""
      target="_blank"
      ><img
        src="../../assets/Social-media/facebook.png"
        alt="whatSapp"
        width="24"
        height="24"
        class="rounded-circle me-2"
      />
    </a>
  </div>
</div>
