.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    color: aliceblue;
}
#card:hover{
    scale:1.05;
    background-color: rgb(183, 194, 203);
    transition: 0.8s;
}