<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h2>Contacts</h2>
    <p>Contactez moi sur l'Email suivant : <b>trajairus@gmail.com</b></p>
    <p>Vous pouvez me suivre ou m'écrire via <b>mes réseaux sociaux :</b></p>
  </div>
  <div class="list-group shadow">
    <a
      href="https://wa.link/45somv"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      target="_blank"
      ><img
        src="../../assets/Social-media/whatsapp.png"
        alt="whatSapp"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">WhatsApp</h3>
    </a>
    <a
      href="https://www.linkedin.com/in/tra-jairus-tiesse-1371292a8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      target="_blank"
      ><img
        src="../../assets/Social-media/LinkedIN.png"
        alt="whatSapp"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">LinkedIn</h3>
    </a>
    <a
      href="https://github.com/zarathoustra23"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      target="_blank"
      ><img
        src="../../assets/Social-media/Github.png"
        alt="whatSapp"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">GitHub</h3>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100086476666498&mibextid=ZbWKwL"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      target="_blank"
      ><img
        src="../../assets/Social-media/facebook.png"
        alt="whatSapp"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Facebook</h3>
    </a>
  </div>
</div>