<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a
          routerLink="/accueil"
          class="nav-link text-secondary"
          routerLinkActive="text-dark"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/portfolio"
          class="nav-link text-secondary"
          routerLinkActive="text-dark"
          >Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/resume"
          class="nav-link text-secondary"
          routerLinkActive="text-dark"
          >Résumé</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/contact"
          class="nav-link text-secondary"
          routerLinkActive="text-dark"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
