<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/accueil" class="nav-link text-secondary">Accueil</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" class="nav-link text-secondary">Portfolio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/resume" class="nav-link text-secondary">Résumé</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" class="nav-link text-secondary">Contact</a>
            </li>
        </ul>
    </div>
</nav>
