<div class="container">
  <div class="mb-2">
    <div>
      <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed= !isCollapsed">Filtre</button>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true">
        <div class="border mb-2 shadow-sm" style="width: 250px;">
        <form >
            <div class="row mx-0">
              <div class="col">
                <small><b>Langue:</b></small>
                <div class="form-group">
                  <div class="form-check">
                    
                  </div>
                </div>
              </div>
              <div class="col">

              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-4 col-md-6 mb-4"
      style="max-width: 380px; min-width: 380px"
      *ngFor="let project of projects"
    >
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
