<div class="container">
  <div class="row">
    <div class="col-lg" id="div-img">
      <img src="../../assets/meMod.png" @fadeIn alt="ma photo" />
    </div>
    <div class="col-lg shadow border a-1" id="box">
      <div class="text-center">
        <h3>Freelance</h3>
        <app-typing-animation></app-typing-animation>
        <p>
          Passionné par la création visuelle, je donne vie à vos
          idées. Que vous ayez besoin d'un site web percutant, de vidéos
          engageantes ou de designs attractifs,
          n'hésitez pas à me contacter et discutons de la meilleure façon de
          concrétiser votre vision. À bientôt !
        </p>
      </div>
    </div>
  </div>
</div>
